.header {
    padding: 10px 0;
    a {
        margin-top: 20px;
    }
}

.custom-field {
    margin-bottom: 20px;
    width: 49%;
    display: inline-block;
    .form-control { width: 80%;}
 }

a.btn {
    margin-right: 5px;
}

#searchBar {
    width: 50%;
    float: right;
    input, select {
        width: 200px;
        display: inline-block;
        margin-bottom: 20px;
    }
}
